@font-face{
	font-family: basic;
	src: url(fonts/basic.ttf);
}

h1, li{
	font-family: basic;
}

ul, menu{
	padding: inherit;
}

ul.portfolio-nav{
	text-align: center;
}

li:first-child{
	border-left: none;
}

li{
	list-style-type: none;
	font-size: 1.5em;
	border-left: 1px solid #555;
	cursor: pointer;
}

.header{
	text-align: center;
}

.text{
	font-family: 'Crimson Text', serif;
}

.nav-item{
	display: inline-block;
	padding: 5px 10px;
}

.about-expand,
.clips-expand,
.resume-expand{
	display: none;
}

#clips-list{
	margin: 5px 40px;
}

.clip-item{
	margin: 20px 0px;
}

p.clip-title,
p.clip-organization,
p.clip-summary{
	margin: 0px;
}

p.clip-title{
	font-size: 1.2em;
}

p.clip-summary{
	margin-top: 10px;
}

.about-extend{
	text-align: center;
}

.resume-img{
	width: 100%;
}

.active{
	display: block;
}