@font-face{
	font-family: basic;
	src: url(fonts/basic.ttf);
}

h1, li{
	font-family: basic;
}

ul, menu{
	padding: inherit;
}

ul.portfolio-nav{
	text-align: center;
}

li:first-child{
	border-left: none;
}

li{
	list-style-type: none;
	font-size: 1.5em;
	border-left: 1px solid #555;
	cursor: pointer;
}

.header{
	text-align: center;
}

.pink{
	color: #FF638C;
}

.text{
	font-family: 'Crimson Text', serif;
}

.nav-item{
	display: inline-block;
	padding: 5px 10px;
}

.nav-item:hover{
	color: #FF638C;
}

.about-expand,
.clips-expand,
.resume-expand{
	display: none;
}

#clips-list{
	margin: 5px 40px;
}

.clip-item{
	margin: 0px auto;
	width: 80%;
}

p.clip-title,
p.clip-organization,
p.clip-summary{
	margin: 0px;
}

p.clip-title{
	font-size: 1.2em;
	margin-bottom: 5px;
}

a.clip-url{
	text-decoration: none;
	color: #000;
}

a.clip-url:hover{
	color: #FF638C;
}

p.clip-organization{
	font-family: basic;
}

p.clip-summary{
	margin: 15px 0px 20px 0px;
}

.about-expand{
	width: 30%;
	margin: 0px auto;
}

a.about-url{
	text-decoration: none;
	color: #000;
}

a.about-url:hover{
	color: #FF638C;
}

.resume-img{
	width: 100%;
}

.active{
	display: block;
}

@media (max-width: 300px) {
	.nav-item{
		display: block;
		padding: 5px 10px;
	}

	li{
		border-left: none;
	}
}

@media (max-width: 700px) {
	.about-expand{
		width: 80%;
		margin: 0px auto;
	}
}