<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annie Daniel</title>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
  	<div class="header">
    	<h1>Hi, my name is <span class="name pink">Annie Daniel.</span></h1> 
    	<h4 class="text">I make things on the Internet.</h4>
    </div>
    <ul class="portfolio-nav">
    	<li class="nav-item clips">Clips</li>
    	<li class="nav-item resume">Resume</li>
    	<li class="nav-item about">About</li>
    </ul>

    <div class="clips-expand detail">
    	<div id="clips-list" class="text"></div>
    </div>

    <div class="resume-expand detail">
    	<a href="img/danielResume.pdf" target="_blank"><img class="resume-img" src="img/danielResume.png"></a>
    </div>

    <div class="about-expand detail">
    	<a class="about-url" href="https://twitter.com/anieldaniel" target="_blank"><p class="text"><i class="fa fa-twitter"></i> anieldaniel</p></a>
    	<a class="about-url" href="http://www.github.com/anniedaniel" target="_blank"><p class="text"><i class="fa fa-github"></i> anniedaniel</p></a>
    	<p class="text"><a class="about-url" href="mailto:anniedaniel001@gmail.com?Subject=Hi%20Annie!" target="_top"><i class="fa fa-envelope"></i> anniedaniel001@gmail.com</a></p>
    </div>

    <script class="template-clips">
    <% if(clip.display != 'n'){%>
        <div class="clip-item">
        	<a class="clip-url" href="<%= clip.url %>" target="_blank"><p class="clip-title"><strong><%= clip.title %></strong></p></a>
            <p class="clip-organization"><%= clip.organization %></p>
            <p class="clip-summary"><%= clip.summary %></p>
            <hr />
        </div>
    <% } %>
    </script>

    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript" src="js/portfolio.js"></script>
    <script type="text/javascript" src="js/tabletop.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
  </body>
</html>